.list-directors {
    @include list-unstyled;
    display: flex;
    flex-wrap: wrap;
    
    margin-right: -30px;
    margin-bottom: -76px;
}
.list-directors__item {
    position: relative;
    width: 350px;
    margin-right: 30px;
    margin-bottom: 76px;
    text-align: center;
    padding: 32px 24px 56px;
    background-color: $color-sacramento-state-green;
}
.list-directors__item::after {
    display: block;
    position: absolute;
    bottom: 0px;
    left: 50%;
    background-color: $color-light-coral;
    background-image: url("../../images/plus-icon.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center center;
    transform: translate(-50%, 50%);
    width: 50px;
    height: 50px;
    content: "";
    cursor: pointer;
    border-radius: 50%;

}
.list-directors__item img {
    width: 96px;
    height: 96px;
    margin-bottom: 16px;
}
.list-directors__author {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: $color-rapture-blue;
}
.list-directors__author--last {
    margin-top: 3px;
    margin-bottom: 8px;
}
.list-directors__author-position {
    margin: 0;
    font-style: italic;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
}
.list-directors__quote {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 24px;
}
.list-directors__socials {
    display: flex;
    align-items: center;
    justify-content: center;
}