.site-hero {
    padding-top: 129px;
    padding-bottom: 250px;
    background-image: url("../../images/site-hero-bg-left.svg"),
                      url("../../images/site-hero-bottom-bg.svg");
    background-repeat: no-repeat,
                       no-repeat;
    background-size: 200px 200px,
                     358px 200px;
    background-position: calc(50% - 684px) calc(50% - 65px),
                         calc(50% + 375px) calc(50% + 290px);
}
.site-hero__info {
    display: flex;
}
.site-hero__heading {
    max-width: 635px;
    padding-right: 45px;
    font-size: 100px;
    line-height: 100px;
    margin-right: 30px;
    margin-bottom: 0;
}
.site-hero__emphasis {
    font-style: normal;
    color: $color-light-coral;
}

.site-hero__desc:before {
    display: block;
    content: "";
    width: 50px;
    height: 4px;
    margin-bottom: 79px;
    background-color: $color-rapture-blue;
}
.site-hero__desc {
    position: relative;
    max-width: 445px;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
}
